/* ====================================
// css variables
// ==================================== */


/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

body {
  width: 414px;
  font-family: Roboto-Regular;
  font-size: 16px;
  margin: auto;
}

header {
  margin: 20px 7px 47px;
}

nav {
  margin: 0 0 53px 1px;
}

nav a {
  text-decoration: none;
  margin-right: 17px;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 47px;
}

.info {
  margin-left: 9px;
  margin-bottom: 12px;
  font-family: Roboto-regular;
  font-size: 12px;
}

.title {
  font-family: Roboto-Bold;
}

.description {
  font-family: Roboto-regular;
  font-size: 12px;
  margin-bottom: 18px;
  text-decoration: underline;
  margin-left: 9px;
}

img {
  width: 414px;
  height: 276px;
  margin-bottom: 54px;
}

.last_img {
  margin-bottom: 28px;
}

.text {
  line-height: 26px;
  margin: 0 77px 56px 7px;
}

.center {
  text-align: center;
}

main a {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  padding: 30px 0 0 7px;
  background-color: black;
  color: white;
  height: 140px;
  line-height: 16px;
}

footer h2 {
  font-family: Roboto-Bold;
  font-size: 12px;
}

footer p {
  font-size: 12px;
  margin-bottom: 20px;
}

.link {
  font-size: 10px;
  margin-bottom: 38px;
}

.link p {
  margin-bottom: 0;
}